[user]
	name = Vitaliy Pisnya
	email = vitaliy.pisnya@gmail.com
[core]
	editor = vim
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
	ui = auto
[push]
	default = simple
[alias]
	ch = checkout
	co = commit
	st = status
	br = branch
	ph = push
	pl = pull
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
