xterm*loginShell:        true
xterm*utf8:              1
xterm*locale:            true
xterm*termName:          xterm-256color
xterm*saveLines:         512
xterm*vt100.initialFont: 5
xterm*selectToClipboard: true
xterm*charClass:         33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*metaSendsEscape:   true
xterm*allowBoldFonts:    false

xterm.internalBorder:    0
xterm.externalBorder:    0

xterm*background: #282828
xterm*foreground: #ebdbb2

! black
xterm*color0: #282828
! bright_black
xterm*color8: #928374
! red
xterm*color1: #cc241d
! bright_red
xterm*color9: #fb4934
! green
xterm*color2: #98971a
! bright_green
xterm*color10: #b8bb26
! yellow
xterm*color3: #d79921
! bright_yellow
xterm*color11: #fabd2f
! blue
xterm*color4: #458588
! bright_blue
xterm*color12: #83a598
! magenta
xterm*color5: #b16286
! bright_magenta
xterm*color13: #d3869b
! cyan
xterm*color6: #689d6a
! bright_cyan
xterm*color14: #8ec07c
! white
xterm*color7: #a89984
! bright_white
xterm*color15: #ebdbb2
